
.plain-editor > .floater {
	display: inline-block;
	position: relative;
}

.plain-editor.full-screen > .floater,
.plain-editor.full-screen textarea {
	position: fixed!important;
	left: 0!important;
	top: 0!important;
	width: 100%!important;
	height: 100%!important;
	margin: 0!important;
	resize: none!important;
	border: 0!important;
	outline: none!important;
	z-index: 1;
}

.plain-editor .toolbar {
	display: none;
	position: absolute;
	z-index: 2;

	/* disable text selection. Taken from: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css#4407335 */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}