
textarea.plain-editor.theme-dark {
	color: #333;
	padding: 0.5em;
	transition: background-color 200ms ease-in-out;
}

textarea.plain-editor.theme-dark.full-screen {
	padding: 1em;
	font-size: 2vmax;
	color: #d4d4d4;
	background: #1e1e1e;
}
