
.plain-editor.theme-smooth textarea {
	color: #333;
	border: 1px solid #333;
	padding: 0.5em;
	font-size: 1em;
}

.plain-editor.theme-smooth.full-screen textarea {
	padding: 1em;
	opacity: 0.95;
	font-size: 2vmax;
}

.plain-editor.theme-smooth.full-screen .toolbar {
	font-size: 2vmax;
}





.plain-editor.theme-smooth .toolbar {
	display: block;
	border-radius: 3px;
	right: 20px;
	opacity: 0;
	bottom: -2em;
	background-color: rgba(0, 0, 0, .4);
	color: white;
	transition-property: opacity, bottom;
	transition-duration: 200ms;
	transition-timing-function: ease-in, cubic-bezier(0.7, -0.55, 0.3, 1.55);
	outline: none;
}

.plain-editor.theme-smooth.focus .toolbar {
	opacity: 1;
	bottom: 2px;
}

.plain-editor.theme-smooth .toolbar > * {
	float: left;
	margin: .3em;
	margin-left: 0;
	cursor: pointer;
	width: 1em;
	text-align: center;
	font-size: 1.3em;
	line-height: 1em;
}

.plain-editor.theme-smooth .toolbar > *:first-child {
	margin-left: .3em;
}

.plain-editor.theme-smooth .toolbar > *:hover:before {
	text-shadow: 0 0 3px white;
}


@font-face {
    font-family: 'toolbar icons';
    src: url('./fonts/toolbar-icons.eot');
    src: url('./fonts/toolbar-icons.eot?#iefix') format('embedded-opentype'),
         url('./fonts/toolbar-icons.woff') format('woff'),
         url('./fonts/toolbar-icons.ttf') format('truetype'),
         url('./fonts/toolbar-icons.svg#toolbar-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.plain-editor.theme-smooth .toolbar > *:before{
	font-family: 'toolbar icons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.plain-editor.theme-smooth .toolbar > .full-screen:before {
	content: "\004f";
}

.plain-editor.theme-smooth.full-screen .toolbar > .full-screen:before {
	content: "\0050";
}

.plain-editor.theme-smooth .toolbar > .indent:before {
	content: "\0041";
}

.plain-editor.theme-smooth .toolbar > .unindent:before {
	content: "\0042";
}

.plain-editor.theme-smooth .toolbar > .bullets:before {
	content: "\0048";
}

.plain-editor.theme-smooth .toolbar > .ordered-list:before {
	content: "\0049";
}
