// out: false

.plain-editor.theme-default.dark-full-screen textarea {
	color: @text-color;
}

.plain-editor.theme-default.dark-full-screen.full-screen textarea {
	color: #d4d4d4;
	background-color: #1e1e1e;
	opacity: .97;
	transition: width .1s ease-in 0s, height .1s ease-in 0s;
}

.plain-editor.theme-default.dark-full-screen.full-screen .toolbar {
	color: @text-color;
	background-color: rgba(250, 250, 250, .8);
}

.plain-editor.theme-default.dark-full-screen.full-screen .toolbar > *:hover:before {
	text-shadow: 0 0 3px @text-color;
}
